*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

/*  */

html {
  color-scheme: light;
}

html.dark {
  color: white;
  background-color: #222;
}

body {
  font-size: 10px;
  display: grid;
  align-items: center;
  transition: background 0.3s, color 0.3s;
}

.wrapper {
  padding: 0 20rem;
}

h1 {
  font-size: 3rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

.header-utilities {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

section {
  background-color: #fcc5;
  padding: 10px;
}

#header-date {
  font-size: 1.6rem;
}

section#todo {
  grid-row: span 2;
}
